<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/posts']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{post.post.title}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="w-25 mx-auto my-4"><img mat-card-image src="{{post.post.square_thumbnail}}" alt="{{post.post.title}}"></div>
      <dl>
        <dt>Category:</dt>
        <dd>{{post.post.category}}</dd>
        <dt>Author:</dt>
        <dd>{{post.post.created_by}}</dd>
        <dt>Publish Time:</dt>
        <dd>{{post.post.createdAt | date}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/post-edit', post.post.slug]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deletePost(post.post._id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>